@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Regular.ttf);
}

body {
  width, height: auto;
  background: url(images/tomatos-background.jpg);
}

.container {
  padding-top: 10%;
  margin: 0;
  width: 100%; height: 100%;
  text-align: center;
  font-size: 60px;
  font-family: Orbitron, Arial;
  color: white;
  font-weight: 600;
}
.timeset, .counter, .score {
  display: block;
  width: 400px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: normal;
}
.timeset {
  height: 70px;
  margin: 50px auto 0 auto;
}
.score {
  height: 70px;
  margin: 0 auto;
}


.counter {
  height: 150px;
  margin: 20px auto;
}
.timeset table, .counter table, .score table {
  width: 100%; height: 100%;
}
.timeset table tr th, .score table tr th {
  width: 50%;
  text-align: center;
  font-weight: normal;
}
.timeset table tr td {
  width: 16.66%;
  text-align: center;
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.counter table tr td {
  width: 50%;
  text-align: center;
}
button {
  background-color: black;
  color: white;
  border: none;
  font-size: 1em;
  font-family: inherit;
}

button:hover {
  background-color: grey;
}
.current-status, .timer-value {
  font-size: 30px;
}
